table.qol {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 1.25rem;
    color: #124D88;
}
table.qol thead th:nth-child(1) {
    width: 50%;
    text-align: left;
    font-size: 2rem;
    color: black;
}
table.qol thead th:nth-child(2) {
    color: black;
    width: 25%;
}

table.qol td, th {
    padding: 15px 10px;
    border-bottom: 1px solid grey;
}
table.qol th {
    background-color: rgb(235,235,235);
    padding: 10px;
    border-bottom: 1px solid black;
}
table.qol td {
    text-align: left;
}

table.qol td:nth-child(2) {
    text-align: center;
}